<div class="main">
  <header>
    <a [routerLink]="['/main']">
      <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png"
        alt="logo"
        class="logo">
    </a>
  </header>
  <div class="tabs tabs--app">
    <nav mat-tab-nav-bar
      [tabPanel]="tabPanel">
      <a mat-tab-link
        [routerLink]="['/products-list']"
        class="tabs__nav-item">
        Products list
      </a>
      <a mat-tab-link
        [routerLink]="['/todo-list']"
        class="tabs__nav-item">
        Todo list
      </a>
    </nav>
  </div>
  <!-- mat-tab-nav-panel is important -->
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>

